body {
background-color: black;
cursor: crosshair;
}
h1, h2 {
color: red;
text-decoration: underline;
}
h3, h4 {
color: green;
}
h5, h6 {
color: blue;
}
p {
color: white;
}
a {
text-decoration: underline;
}
table, th, td, tr {
border: 2px solid blue;
}
ol, ul, li {
color: green;
font-size: 25px;
}
