body {
background-color: black;
}
h1, h2 {
color: red;
text-decoration: underline;
font-family: "FreeMono"
}
h3, h4 {
color: green;
}
h5, h6 {
color: blue;
}
p {
color: white;
}
a {
text-decoration: underline;
}
table, th, td, tr {
border: 2px solid blue;
}
